In [9]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.datasets import load_boston
from interpret.glassbox import ExplainableBoostingRegressor
from interpret import preserve, show
from interpret.data import Marginal

import os

In [2]:
boston_data = load_boston()
# こんな事しなくてもいいんだけど雑にpd.DataFrame化しとく。
boston_dataframe = pd.DataFrame(boston_data['data'])
column_names = ['feature_' + str(x) for x in boston_dataframe.columns.values]
boston_dataframe.columns = column_names
boston_dataframe['target'] = boston_data['target']

In [3]:
boston_dataframe.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [4]:
boston_dataframe.describe()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,target
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [5]:
scaler = StandardScaler()
boston_dataframe[column_names] = scaler.fit_transform(boston_dataframe[column_names])

In [6]:
from sklearn.model_selection import train_test_split
boston_train, boston_test = train_test_split(boston_dataframe)

In [7]:
X_train, X_test = boston_train[column_names], boston_test[column_names]
y_train, y_test = boston_train['target'], boston_test['target']

In [10]:
marginal = Marginal()
explainable_data = marginal.explain_data(X_train, y_train, name='Train_data')
show(explainable_data)

In [11]:
class_GA2M = ExplainableBoostingRegressor(random_state=1234)
GA2M_model = class_GA2M.fit(X_train, y_train)

In [12]:
GA2M_global = class_GA2M.explain_global(name='EBM') 
GA2M_local  = class_GA2M.explain_local(X_test, y_test,name='SHAP')

In [13]:
show(GA2M_global)

In [14]:
show(GA2M_local)

In [0]:
model_pred = class_GA2M.predict(X_test)